@media (min-width:320px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
    }
}

@media (min-width:320px) {
  .menu1 img .search-wrapper {
      display: none;
  }
}

@media (min-width:320px) {
  .menu2{
      display: none;
  }
}

@media (min-width:320px) {
  .menu3{
      display: none;
  }
}

@media (min-width:320px) {
  .menu4 .menu5 .menu6 .menu7{
      display: none;
  }
}



@media screen and (min-width:320px) {
  .m_menu1 {
      position: fixed;
      top: 0px;
      left: 0px;
      background: #f6f5ef;
      width: 396px;
      height: 64px;
      z-index: 4;
  }
}

@media screen and (min-width:320px) {
  .m_menu1 img {
      position: fixed;
      top: 5px;
      left: 50px;
      width: 50px;
      height: 50px;
      z-index: 3;
  }
}

 
  .springm :first-child {
      position: absolute;
      top: 10px;
      width: 640px;
      height: 1077px;
      z-index: 3;
  }


@media (min-width:320px) {
  .springm :last-child {
      position: absolute;
      top: 50px;
      left: 40px;
      width: 253.3px;
      height: 100.67px;
      z-index: 3;
  }
}

@media (min-width:320px) {
  .springm2 :first-child {
      position: absolute;
      top: 270px;
      left: 10px;
      width: 327.59px;
      height: 341.7px;
      z-index: 3;
  }
}

@media (min-width:320px) {
  .springm2 :nth-child(2) {
      position: absolute;
      top: 330px;
      left: 75px;
      width: 327.59px;
      height: 450px;
      z-index: 3;
  }
}

@media (min-width:320px) {
  .springm2 :last-child {
      position: absolute;
      top: 700px;
      left: 50px;
      width: 327.59px;
      height: 290px;
      z-index: 3;
  }
}

@media (min-width:320px) {
  .btn p {
      position: absolute;
      top: 1050px;
      left: 200px;
      font-size: 12px;
      line-height: 30px;
      width: 108px;
      height: 34px;
      z-index: 3;
  }
}

@media (min-width:320px) {
  .card {
    position: fixed;
    left: 240px;
    width: 120px;
    height: 85px;
    display: block;
  }
}

@media (min-width:320px) {
  .m_card img {
    position: fixed;
    top: 80px;
    left: 255px;
    width: 120px;
    height: 85px;
    z-index: 4;  
  }
}

@media (min-width:320px) {
  .notice {
    position: absolute;
    top: 1140px;
    width: 390px;
    height: 70px;
    background: black;
    z-index: 3;
  }
}

@media (min-width:320px) {
  .notice img {
    display: none;
  }
}

@media (min-width:320px) {
  .notice2 {
    position: absolute;
    top: 1200px;
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 3;
  }
}

/* 배너 컨테이너 */
.m_rollingbanner{
    position: absolute;
    top: 1150px;
    left: 50px;
    width: 300px;
    height: 32px;
    font-size: 15px;
    letter-spacing: -1px;
    padding: 7px 15px;
    z-index: 3;
}
/* 타이틀 */
.m_rollingbanner > .m_title{
    font-weight: bold;
    float: left;
    padding-right: 10px;
    color: #fff;
    z-index: 3;
}
/* 롤링 배너 */
.m_rollingbanner > .m_wrap{
    position: relative;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 3;
}        
.m_rollingbanner ul{
    list-style: none;
}
.m_rollingbanner li{
    position: absolute;
    top: -36px;
    left: 0;
    z-index: 3;
}
/* 이전, 현재, 다음 롤링 배너 표시 */
.m_rollingbanner li.m_prev{
    top: 36px;
    transition: top 0.5s ease;
    z-index: 3;
}
.m_rollingbanner li.m_current{
    top: 0;
    transition: top 0.5s ease;
    z-index: 3;
}
.m_rollingbanner li.m_next{
    top: -36px;
    z-index: 3;
}
.m_rollingbanner a{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #fff;
    z-index: 3;
}
/* 반대 방향으로 진행 */
.m_rollingbanner.reverse li.m_prev{
    top: -36px;
    transition: top 0.5s ease;
}
.m_rollingbanner.reverse li.m_next{
    top: 36px;
}

@media (min-width:320px) {
    .m_notice2 {
      position: absolute;
      top: 1200px;
      width: 100%;
      height: 70px;
      background: #f6f5ef;
      z-index: 3;
    }

    .m_notice2 :first-child {
      position: absolute;
      top: 25px;
      left: 150px;
      width: 143px;
      height: 18px;
    }

    .m_notice2 :last-child {
      position: absolute;
      top: 18px;
      left: 320px;
    }
}

@media (min-width:320px) {
  .been {
    display: none;
  }

  .bean {
    display: none;
  }

  .baentxt {
    display: none;
  }

  .been2 {
    display: none;
  }

  .reserve {
    display: none;
  }

  .visual {
    display: none;
  }

  .reserve-title {
    display: none;
  }

  .backgroundd {
    display: none;
  }
}

@media (min-width:320px) {
  .m_reward {
    position: absolute;
    top: 1270px;
    width: 100%;
    height: 1000px;
    background: #1e3932;
    z-index: 3;
  }

  .m_reward img {
    position: absolute;
    top: 30px;
    left: 150px;
    width: 176px;
  }

  .m_reward h2 {
    position: absolute;
    top: 200px;
    left: 120px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }

  .m_reward a {
    position: absolute;
    top: 245px;
    left: 165px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }

  .m_reward strong {
    position: absolute;
    top: 290px;
    left: 165px;
    color: #fff;
    font-size: 15px;
  }

  .m_reward p {
    position: absolute;
    top: 300px;
    left: 90px;
    color: #fff;
    font-size: 15px;
  }
}


